
body {
    font-family: "Cabin", Helvetica, Arial, sans-serif;
    margin: 0;
    color: rgb(0, 15, 159);
}

h1 {
    font-size: 2em;
}

main {
    margin: 0 2em;
}

img.header {
    width: 100%;
}

/*nav and footer styles, functionality of haburger nav based on a w3 schools example*/

nav, footer {
    background-color: rgb(0, 15, 159);
    color: white;
    box-sizing: border-box;
}

nav {
    margin-bottom: 2em;
}


nav div.nav p {
    margin: 0;
    padding: 0;

    line-height: 1em;
    font-size: 1.2em;
    font-weight: 600;
}

nav div.nav a, nav div.nav a:visited {
    color: white;
    padding-left: 10px;
    text-align: right;
    text-decoration: none;
}

nav div.nav a.onpage {
    color: rgb(255, 205, 0);
}

.nav .icon {
    display: none;
  }
  
@media screen and (max-width: 850px) {
    
    .nav {
        overflow: hidden;
        align-items: center;
        padding: 2em;
      }

    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
      position: absolute;
      right: 2em;
      top: 2em;
    }
    .nav.responsive {
        position: relative;
    }

    .nav.responsive p {
        margin: 0;
        padding: 0;
    }
    
    .nav.responsive .icon {
      right: 2em;
      top: 2em;
    }

    .nav.responsive a {
      float: none;
      display: block;
      text-align: right;
    }

    .nav.responsive a#home {
        padding-top: 2em;
      }

    .nav.responsive a.link {
        padding: 0.5em 0;
     }

    .nav a {
        float: right;
        display: block;
        text-align: right;
      }
  }

  @media screen and (min-width: 850px) {
    nav {
        padding: 2em;
    }
    nav div.nav {
        display: flex;
    }

    nav div.nav p {
        flex: 1;
    }

    nav div.nav a {
        float: right;
        text-align: right;
        width: fit-content;
        padding-left: 2em;
    }
}

footer {
    margin-top: 2em;
    padding: 2em;
}

footer p {
    margin: 0;
}

/*image and text flexboxes*/

div.flexbox {
    display: flex;
    flex-wrap: wrap;
}

section.whatis div.flexbox {
    align-items: center;
} 

div.fleximgright img, div.fleximgleft img {
    width: 100%;
}

div.flexleft {
    padding-right: 2em;
}

div.flexright {
    padding-left: 2em;
}

div.flexright, div.flexleft {
    vertical-align: middle;
}

@media only screen and (max-width:850px) {
    section.whatis div div {
        flex-basis: 100%;
        margin: 1em 0;
        padding: 0;
    }

    #overview {
        order: 1;
    }
    #overviewimg {
        order: 2;
    }
    #history {
        order: 3;
    }
    #historyimg {
        order: 4;
    }
    #join {
        order: 5;
    }
    #joinimg {
        order: 6;
    }
}

@media only screen and (min-width:850px) {
    section.whatis div div  {
        flex-basis: 50%;
        box-sizing: border-box;
    }
}

/*underground lines styles*/

section.lines div.flexbox{
    display: flex;
    flex-wrap: wrap;
}

section.lines div div {
    flex: 1;
    padding: 1em 2em;
}
    

@media only screen and (max-width:850px) {
    section.lines div div {
        flex-basis: 100%;
        margin: 1em 0;
    }
}

@media only screen and (min-width:850px) {
    section.lines div div {
        flex-basis: 25%;
        box-sizing: border-box;
    }

    .metropolitan, .hammersmith, .circle, .waterloo, .central, .bakerloo, .northern, .victoria, .jubilee {
        border-right: 1em solid white;
        border-bottom: 1em solid white;
    }

    .district, .piccadilly {
        border-bottom: 1em solid white;
    }
}

.metropolitan {
    background-color: rgb(135, 15, 84);
    color: white;
}

.hammersmith {
    background-color: rgb(236, 155, 173);
    color: rgb(0, 15, 159);
}

.circle {
    background-color: rgb(255, 205, 0);
    color: rgb(0, 15, 159);
}

.district {
    background-color: rgb(0, 121, 52);
    color: white;
}

.waterloo {
    background-color: rgb(107, 205, 178);
    color: rgb(0, 15, 159);
}

.central {
    background-color: rgb(225, 37, 27);
    color: white;
}

.bakerloo {
    background-color: rgb(166, 90, 42);
    color: white;
}

.piccadilly {
    background-color: rgb(0, 15, 159);
    color: white;
}

.northern {
    background-color: black;
    color: white;
}

.victoria {
    background-color: rgb(0, 160, 223);
    color: white;
}

.jubilee {
    background-color: rgb(123, 134, 140);
    color: white;
}