body { 
    
    font-family: Helvetica, Arial, sans-serif;
    background-color:#f2f8f6; 
    color: #37315E;
}

a { color: #70B97C; }


a:visited { color: #C5D86D; }


h1, h2 { color:#C5D86D; }


nav {  
    
    background-color: #70B97C;
    color:#f2f8f6;
    padding: 10px;
    margin-bottom: 30px;  
}


nav a, nav a:visited { color:#f2f8f6; }


nav a:hover { background-color:#C5D86D; }

.float { float: right;}